{:include(header)}

<div class="banner">
</div>
<div class="segTitle">
	您可以：
</div>
<div class="todos tr">
	<div class="item">
		<strong>加入一个课堂</strong>
		<p>查找到一个您感兴趣的课堂并发出进入申请，当您收到该课堂的管理的邀请消息后就可以获得这个课堂的学习资料或参与到这个课堂的讨论中。</p>
		<div>
			<span> - 提示 -</span>
			1、使用页面右上角的搜索，可在搜索结果页面右侧看到相关的课程。您可以利用这个功能来搜索您感兴趣的课堂。<br/>
			2、即使您没有发出申请，某个课堂的老师也可以直接向您发出邀请，只要他拥有您的ID。
		</div>
	</div>
	<div class="item">
		<strong>创建一个课堂</strong>
		<p>在这里，您也能以老师的身份创建您自己的课堂。创建完成后您就可以邀请其他用户成为这个课堂的学生。</p>
		<p>每个用户只允许创建 <b>3</b> 个课堂。</p>
		<form action="{:BASE_PATH}?a=other&m=addClass" method="post">
			课程名称：<input type="text" size="17" name="name"/><br/>
			课程介绍：<br/>
			<textarea name="description"></textarea><br/>
			<button>创建</button>
		</form>
	</div>
	<div class="item">
		<strong>进入课堂交流</strong>
		<p>前往课堂的讨论吧，与同学或老师讨论问题，或者获取老师发布的课堂资源。</p>
		<strong>管理作业</strong>
		<p>老师可以轻松地布置作业（在课程交流里进行操作），且允许学生在线提交作业。</p>
		<strong>查看站内信息</strong>
		<p>利用站内消息，用户间可以互传悄悄话，或者接受邀请信。</p>
	</div>
</div>

{:include(footer)}
