{:if(U::uid()==0)}
	<style type="text/css">
		.leftBar .input{
			display:block;
			border:1px solid #CCE;
			position:relative;
			margin-top:2px;
			margin-right:10px;
			margin-left:2px;
			padding:5px 3px;
			background:#FFF;
		}
		.leftBar .input input{
			border:0;
			width:130px;
		}
		.leftBar .input label{
			position:absolute;
			top:5px;
			left:5px;
			font-size:13px;
			color:#999;
			cursor:text;
		}
	</style>
	<script type="text/javascript">
	$(function(){
		$('.leftBar .input input').focus(function(){
			$(this).next('label').hide();
		});
		$('.leftBar .input input').blur(function(){
			if($(this).val()=='')
			$(this).next('label').show();
		});
	});
	function login(){
		$.post('{:BASE_PATH}?a=login&m=login',{'username':$('#username').val(),'password':$('#password').val()},function(data){
			if(data=='badusername')
				alert('用户不存在');
			else if(data=='badpassword')
				alert('密码错误');
			else
				document.location.reload();
		});
	}
	function register(){
		if($('#regpass').val()==''){
			if(confirm('强烈建议为帐号设置密码，是否设置密码？')){
				return;
			}
		}
		if($('#regpass').val()!=$('#regpass2').val()){
			alert('密码重复不正确');
			return;
		}
		$.post('{:BASE_PATH}?a=login&m=register',{'username':$('#email').val(),'password':$('#regpass').val()},function(data){
			if(data=='badusername')
				alert('用户已存在');
			else
				document.location.reload();
		});
	}
	</script>
	<div class="leftBar">
		<div class="userInfo tr">
			<label>您还没有登录</label>
		</div>
		<strong>登录</strong>
		<div class="list">
			<form onsubmit="login();return false;">
				<span class="input">
					<input type="text" id="username"/><label for="username">用户名（邮箱）</label>
				</span>
				<span class="input">
					<input type="password" id="password"/><label for="password">密码</label>
				</span>
				<div class="hidden">
					<input type="submit"/>
				</div>
			</form>
			<div style="text-align:center;height:30px;line-height:30px">
				<button onclick="login()">登录</button>
			</div>
		</div>
		<br/>
		<strong>快速注册</strong>
		<div class="list">
			<form onsubmit="register();return false;">
				<span class="input">
					<input type="text" id="email"/><label for="email">用户名（邮箱）</label>
				</span>
				<span class="input">
					<input type="password" id="regpass"/><label for="regpass">密码</label>
				</span>
				<span class="input">
					<input type="password" id="regpass2"/><label for="regpass2">重复密码</label>
				</span>
				<div class="hidden">
					<input type="submit"/>
				</div>
			</form>
			<div style="text-align:center;height:30px;line-height:30px">
				<button onclick="register()">注册</button>
			</div>
		</div>
	</div>
{:else}
	<?php
		$m=new Model('class');
		$classLearn=$m->getLearn(array('uid'=>U::uid()));
		$classTeach=$m->getTeach(array('uid'=>U::uid()));
	?>
	<script type="text/javascript">
	var menuCid=0;
	$(function(){
		var $leftBarMenu=$('.leftBarItemMenu');
		var $leftBarItems=$('.leftBar .item');
		$leftBarMenu.mouseleave(function(){
			$(this).hide();
			menuCid=0;
		});
		var mxx,myy;
		$leftBarItems.mousemove(function(e){
			var of=$('.body').offset();
			mxx=e.pageX-of.left;
			myy=e.pageY-of.top;
		}); 
		$leftBarItems.bind('contextmenu',function(){
			$leftBarMenu.css({left:mxx-5+'px',top:myy-5+'px'});
			$leftBarMenu.show();
			menuCid=($(this).attr('id')+'').substr(3);
			return false;
		});
	
		$('.body .leftBar .list .item a').hover(function(){
			$(this).stop(true,false);
			$(this).animate({paddingLeft:7},300);
		},function(){
			$(this).stop(true,false);
			$(this).animate({paddingLeft:0},300);			
		});
	});
	function deleteClass(){
		if(menuCid==0)
			return;
		document.location.href='{:BASE_PATH}?a=other&m=removeClass&cid='+menuCid;
	}
	</script>
	<div class="leftBar">
		<div class="userInfo tr">
			<label>{:U::user()}</label>
			<a href="{:BASE_PATH}?a=login&m=logout">退出</a>
		</div>
		<strong>我学的课</strong>
		<div class="list" id="leftBarList">
			{:loop($classLearn as $v)}
				<div class="leftBarItem item{:$v['cid']==CID?' sel':''}" id="cid{:$v['cid']}">
					<a href="{:BASE_PATH}?a=discus&m=index&cid={:$v['cid']}">{:$v['name']}</a>
				</div>
			{:end}
		</div>
		<div class="foot"></div>
		<br/>
		<strong>我教的课</strong>
		<div class="list" id="leftBarList">
			{:loop($classTeach as $v)}
				<div class="leftBarItem item{:$v['cid']==CID?' sel':''}" id="cid{:$v['cid']}">
					<a href="{:BASE_PATH}?a=discus&m=index&cid={:$v['cid']}">{:$v['name']}</a>
				</div>
			{:end}
		</div>
		<div class="foot"></div>
	
		<p style="padding:20px 0;padding-right:8px;font-size:10px;color:#777">
			试试用右键点上面的列表！
		</p>
	</div>
	<div class="leftBarItemMenu">
		<a href="javascript:void(0);" onclick="deleteClass()">删除</a>
	</div>
{:end}
