{:include(header)}
<script type="text/javascript">
	$(function(){
		$('.messages .item').hover(function(){
			var $c=$(this).find('.tool');
			$c.show();
			$(this).css({background:'#F7F7F7'});
		},function(){
			var $c=$(this).find('.tool');
			$(this).css({background:'none'});
			$c.stop(true,false);
			$c.fadeOut(200);
		});
		var scrollDelay=0;
		var moveMessageBox=function(){
			if(scrollDelay!=0){
				clearTimeout(scrollDelay);
			}
			scrollDelay=setTimeout(function(){
				$('.sendMessage').animate(
					{top:$(window).scrollTop()+($(window).height()-$('.sendMessage').height())/2,
					left:$(window).scrollLeft()+($(window).width()-$('.sendMessage').width())/2}
					,300);
				scrollDelay=0;
			},150);
		}
		$(window).scroll(moveMessageBox);
		$(window).resize(moveMessageBox);
		$('.sendMessage').css({top:$(window).scrollTop()+($(window).height()-$('.sendMessage').height())/2,
					left:$(window).scrollLeft()+($(window).width()-$('.sendMessage').width())/2});
	});
</script>
<h2>站内信息</h2>
<div class="segTitle">消息列表 <span> - 系统最多只会为每个用户保留30条消息（旧的消息会被清除），所以请及时处理。</span></div>
<div class="messages">
	<div class="item">
		<div class="tr">
			<strong>来自：testuser</strong><label>[ 刚刚 ]</label>
		</div>
		<p class="content">blah blah blah</p>
		<div class="tool"><a href="">回复</a> | <a href="">删除</a></div>
	</div>
	<div class="item">
		<div class="tr">
			<strong>来自：testuser</strong><label>[ 5分钟前 ]</label>
		</div>
		<p class="content">blah blah blah</p>
		<div class="tool"><a href="">回复</a> | <a href="">删除</a></div>
	</div>
	<div class="item">
		<div class="tr">
			<strong>来自：tester </strong><label>[ 1小时前 ]</label>
		</div>
		<p class="content">blah blah blah</p>
		<div class="tool"><a href="">回复</a> | <a href="">删除</a></div>
	</div>
</div>
<div class="segTitle">我的同学们<button>所有</button></div>
<div class="friendList tr">
	<a href="" class="item">testuser</a>
	<a href="" class="item">tester</a>
	<a href="" class="item">tryer</a>
	<a href="" class="item">somebody</a>
	<a href="" class="item">testuser</a>
	<a href="" class="item">tester</a>
	<a href="" class="item">tryer</a>
	<a href="" class="item">somebody</a>
	<a href="" class="item">testuser</a>
	<a href="" class="item">tester</a>
	<a href="" class="item">tryer</a>
	<a href="" class="item">somebody</a>
</div>
<div class="segTitle">我的学生们</div>
<div class="friendList tr">
</div>
<div class="segTitle">我的老师们</div>
<div class="friendList tr">
</div>
<div class="sendMessage">
	<span>
		<h3>发送消息</h3>
		<div>发送至：<label>testuser</label></div>
		<div><textarea></textarea></div>
		<div class="buttons">
			<button>发送</button>
			<button>关闭</button>
		</div>
	</span>
</div>
{:include(footer)}
