{:include(header)}
<h2>个人设置</h2>
<script type="text/javascript">
$(function(){
	var $c=$('.options table');
	$c.attr('cellspacing',0);
	$c=$c.find('tr');
	$c.hover(function(){
		$(this).find('td').css({background:'#F7F7F7'});
	},function(){
		$(this).find('td').css({background:'none'});	
	});
	$c=$c.find('td:first');
	$c.css({width:"20%",textAlign:"right"});
	$c.each(function(){
		$(this).html($(this).html()+'：');
	});
	$('.options input').each(function(){
		var type=$(this).attr('type');
		if(type=='text'||type=="password"){
			$(this).attr('size',30);
		}else if(type=='radio'){
			$(this).css({marginLeft:'20px',marginRight:'5px'});
		}
	});
});
</script>
<div class="segTitle">偏好选项<button onclick="$('#preference').submit()">保存</button></div>

<form class="options" id="preference" method="post" action="{:BASE_PATH}?a=settings&m=setPref">
	<table>
		<tr>
			<td>登录后转向</td>
			<td>
				<input type="radio" id="logGoHome" name="logGo"{:$cfg['defaultpage']=='index'?'checked':''}/><label for="logGoHome">首页</label>
				<input type="radio" id="logGoDiscus" name="logGo"{:$cfg['defaultpage']=='discus'?'checked':''}/><label for="logGoDiscus">课程互动</label>
				<input type="radio" id="logGoMessage" name="logGo"{:$cfg['defaultpage']=='message'?'checked':''}/><label for="logGoMessage">站内信息</label>			
			</td>
		</tr>
		<tr>
			<td>默认选择课程</td>
			<td>
				<select name="class">
					<option value="0" {:$cfg['defaultclass']==0?'selected':''}>全部</option>
				</select>
			</td>
		</tr>
	</table>
</form>
<div class="segTitle">个人资料<button onclick="$('#details').submit()">保存</button></div>

<form class="options" id="details" method="post" action="{:BASE_PATH}?a=settings&m=setDetails">
	<table>
		<tr>
			<td>姓名</td>
			<td><input name="name" type="text" value="{:$cfg['name']}"/></td>
		</tr>
		<tr>
			<td>QQ</td>
			<td><input name="qq" type="text" value="{:$cfg['qq']}"/></td>
		</tr>
		<tr>
			<td>电话联系方式</td>
			<td><input name="phone" type="text" value="{:$cfg['phone']}"/></td>
		</tr>
	</table>
</form>
<div class="segTitle">登录信息<button onclick="$('#chpass').submit()">保存</button></div>

<form class="options" id="chpass" method="post" action="{:BASE_PATH}?a=settings&m=setPassword">
	<table>
		<tr>
			<td>原密码</td>
			<td><input name="oldpassword" type="password"/></td>
		</tr>
		<tr>
			<td>新密码</td>
			<td><input name="newpassword" type="password"/></td>
		</tr>
		<tr>
			<td>重复密码</td>
			<td><input name="newpassword2" type="password"/></td>
		</tr>
	</table>
</form>
{:include(footer)}
