{:include(header)}
<div class="segTitle">作业标题 <span>- 作业说明及要求</span><button>提交作业</button></div>
<p style="padding:5px;font-size:14px;">
<?php 
	echo nl2br(<<<EOT
作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
EOT
);
?>
</p>
{:include(footer)}
