{:include(header)}
<script type="text/javascript">
</script>
<h2>我的作业</h2>
<div class="segTitle">待提交作业</div>
<div class="homewrokContainer tr">
	<a href="{:BASE_PATH}?a=homework&m=detail&hwid=" class="item">
		<strong>作业标题</strong>
		<p>
作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
		</p>
	</a>
	<div class="item">
		<strong>作业2标题</strong>
		<p>
作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
作业要求若干字作业要求若干字作业要求若干字作业要求若干字作业要求若干字
。。。。。
		</p>
	</div>
</div>
<div class="segTitle">待批阅作业</div>
<div class="segTitle">已批阅作业</div>

{:include(footer)}
