{:include(header)}
<h2>课程互动</h2>
<div class="segTitle">
	我的全部课程 <span>- 帖子列表</span>
</div>
{:include(discus/pagebar)}

<div class="discus">
	<div class="item tr">
		<span class="replyNum">
			150
		</span>
		<a href="{:BASE_PATH}?a=discus&m=view" class="title">
			<span>讨论</span> o(∩_∩)o...哈哈
		</a>
		<span class="author">
			<div>tester1</div>
			<div>tester2</div>
		</span>
	</div>
	<div class="item alter tr">
		<span class="replyNum">
			120
		</span>
		<a href="" class="title">
			haha
		</a>
		<span class="author">
			<div>tester1</div>
			<div>tester2</div>
		</span>
	</div>
	<div class="item tr">
		<span class="replyNum">
			120
		</span>
		<a href="" class="title">
			haha
		</a>
		<span class="author">
			<div>tester1</div>
		</span>
	</div>
</div>
{:include(discus/pagebar)}
<a name="newTopic"/>
<div class="segTitle">
	发表新主题 <span>- 发起新话题、分享资源、发布作业</span>
	<button onclick="$('#postTopic').submit()">发表</button>
</div>
<form class="genForm" id="postTopic" action="{:BASE_PATH}?a=discus&m=post" method="post">
	<p>
		<input type="radio" id="typeDiscus" name="type" value="normal" checked onclick="$('#commitolbox').hide();"/><label for="typeDiscus">普通</label>
		<input type="radio" id="typeHomework" name="type" value="homework" onclick="$('#commitolbox').show()"/><label for="typeHomework">作业</label>
		<span id="commitolbox" style="display:none">（<label for="commitol">需要在线提交</label><input id="commitol" name="commitol" type="checkbox"/>）</span>
	</p>
	<p>
		<label for="topicText">话题主题</label> <input name="topic" id="topicText" type="text" value="" size="30"/>
	</p>
	{:if(CID==0)}
	<p>
		<label>课程</label> &nbsp;&nbsp;&nbsp; <select name="cid">
			{:loop($classTeach as $v)}
				<option value="{:$v['cid']}">{:$v['name']}</option>
			{:end}
			{:loop($classLearn as $v)}
				<option value="{:$v['cid']}">{:$v['name']}</option>
			{:end}
		</select>
	</p>
	{:END}
	<p>
		<textarea name="text" style="width:550px;height:100px;padding:5px;overflow-y:scroll"></textarea>
	</p>
	<input type="submit" value="发表" style=";width:100px;height:30px;background:#EEF;margin-left:20px"/>
</form>
{:include(discus/attachment)}

{:include(footer)}
