{:include(header)}
<h2>课程互动</h2>
<div class="segTitle">
	{:$cname} <span>- 共 {:$topicCount} 主题</span>
</div>
{:include(discus/pagebar)}

<?php
	$type['normal']='';
	$type['homework']='<span>作业</span> ';
	$type['attachment']='<span>附件</span> ';
	
?>
<div class="discus">
	{:loop($topicList as $v)}
		<div class="item tr">
			<span class="replyNum">
				{:isset($replys[$v['did']])?$replys[$v['did']]['count']:0}
			</span>
			<a href="{:BASE_PATH}?a=discus&m=view&cid={:$v['cid']}&did={:$v['did']}" class="title">
				{:$type[$v['type']]}{:$v['title']}
			</a>
			<span class="author">
				<div>{:$v['name']}</div>
				{:if(isset($replys[$v['did']]))}
					<div>{:$replyer[$replys[$v['did']]['last']]}</div>
				{:end}
			</span>
			{:if($teacher==U::uid())}
				<input type="checkbox" class="checkbox" value="{:$v['did']}"/>
			{:end}
		</div>	
	{:end}
</div>
{:include(discus/pagebar)}

<script type="text/javascript">
function doact(act){
	if(act=='del'){
		if(!confirm('真的要删除所选主题吗？'))
			return;
	}
	var sel=[];
	$('.body .discus .item .checkbox').each(function(){
		if($(this).attr('checked')){
			sel.push($(this).val());
		}
	});
	if(sel.length>0){
		$.post('{:BASE_PATH}?a=discus&m='+act,{'ids':sel.join(',')},function(data){
			document.location.reload();
		});
	}
}
</script>

{:if($teacher==U::uid())}
<div class="segTitle">
	管理
</div>
<div class="genForm">
	<p>
		<label>对所选主题：</label>
		<button onclick="doact('del')">删除</button>
		<button onclick="doact('lift')">提前</button>
	</p>
</div>
{:end}

<a name="newTopic"></a>
<div class="segTitle">
	发表新主题 <span>- 发起新话题、分享资源、发布作业</span>
	<button onclick="$('#postTopic').submit()">发表</button>
</div>
<form class="genForm" id="postTopic" action="{:BASE_PATH}?a=discus&m=post" method="post">
	<p>
		<input type="radio" id="typeDiscus" name="type" value="normal" checked onclick="$('#commitolbox').hide();"/><label for="typeDiscus">普通</label>
		{:if($teacher==U::uid())}
			<input type="radio" id="typeHomework" name="type" value="homework" onclick="$('#commitolbox').show()"/><label for="typeHomework">作业</label>
			<span id="commitolbox" style="display:none">（<label for="commitol">需要在线提交</label><input id="commitol" name="commitol" type="checkbox" value="1"/>）</span>
		{:end}
	</p>
	<p>
		<label for="topicText">话题主题</label> <input name="topic" id="topicText" type="text" value="" size="30"/>
	</p>
	<p>
		<label>课程</label> &nbsp;&nbsp;&nbsp; 
		{:if(CID==0)}
		<select name="cid">
			{:loop($classTeach as $v)}
				<option value="{:$v['cid']}">{:$v['name']}</option>
			{:end}
			{:loop($classLearn as $v)}
				<option value="{:$v['cid']}">{:$v['name']}</option>
			{:end}
		</select>
		{:else}
		<input type="hidden" name="cid" value="{:CID}">{:$cname}
		{:end}
	</p>
	<p>
		<textarea name="text" style="width:550px;height:100px;padding:5px;overflow-y:scroll"></textarea>
	</p>
	<input type="submit" value="发表" style=";width:100px;height:30px;background:#EEF;margin-left:20px"/>
</form>
{:include(discus/attachment)}

{:include(footer)}
