<div class="pageOpt">
	<p style="left:0">
		<a href="{:BASE_PATH}?a=discus&cid={:CID}&page={:PAGE}"{:if($ttype=='all')} style="color:#333;"{:end}>全部</a> | 
		<a href="{:BASE_PATH}?a=discus&cid={:CID}&page={:PAGE}&type=homework"{:if($ttype=='homework')} style="color:#333;"{:end}>作业</a> | 
		<a href="{:BASE_PATH}?a=discus&cid={:CID}&page={:PAGE}&type=attachment"{:if($ttype=='attachment')} style="color:#333;"{:end}>附件</a>
	</p>
	<p style="right:0"><a href="#newTopic">发表新帖</a></p>
	
	前往
	{:loop($pager as $v)}
		{:if($v=='.')}
			...
		{:elseif($v==PAGE)}
			<strong>{:$v}</strong>
		{:else}
			<a href="{:BASE_PATH}?a=discus&m=view&cid={:CID}&did={:$did}&page={:$v}{:($ttype=='all')?'':$ttype}">{:$v}</a>
		{:end}
	{:end}
	页
</div>
