{:include(header)}
<script type="text/javascript">
$(function(){
	var names=['楼主','沙发'];
	$('.discusThread .content').each(function(i){
		i+={:$start};
		var text=(names[i])?names[i]:(i+1)+'楼';
		$(this).append('<div class="pos">'+text+'</div>');
	});
	$('.body .discusThread .content .attachment img').load(function(){
		var w=$(this).width();
		var h=$(this).height();
		var pw=400;
		if(w>pw){
			$(this).width(pw);
			h=h*pw/w;
			$(this).height(h);
		}
		$(this).parent().width('auto');
		$(this).parent().height('auto');
	});
});
</script>
<h3>查看主题</h3>
{:include(discus/viewpagebar)}

<script type="text/javascript">
function del(did,item){
	$.post('{:BASE_PATH}?a=discus&m=del',{'ids':did},function(data){
		$(item).closest('.discusThread').hide(200,function(){
			$(this).remove();
		});
	});
}
</script>
<?php $i=0; ?>
{:loop($threads as $v)}
	<div class="discusThread">
		<div class="headBorder"></div>
		<div class="content">
			{:if($teacher==U::uid()||$v['uid']==U::uid())}
			<div class="tools">
				<a href="javascript:void(0);" onclick="del({:$v['did']},this)">删除</a>
			</div>
			{:end}
			<strong>{:$v['username']} <span>发表于 {:$v['time']}</span></strong>
			<p>{:nl2br($v['content'])}</p>
			{:if($i++==0)}
				{:loop($attachment as $att)}
					<div class="tr">
						<div class="attachment">
							附件：<a href="{:$att['url']}" target="_blank">{:$att['name']}</a>
							{:if($att['is_image'])}
								<div class="imgwrap"><img src="{:$att['url']}"/></div>
							{:end}
						</div>
					</div>
				{:end}
			{:end}
		</div>
		<div class="footBorder"></div>
	</div>
{:end}

{:include(discus/viewpagebar)}

<script type="text/javascript">
function reply(){
	var text=$('#replyText').val();
	$('#replyBtn').attr('disabled',true);
	$.post('{:BASE_PATH}?a=discus&m=reply',{'text':text,'did':{:$did}},function(data){
		if(data=='ok'){
			window.location.reload();
		}else{
	$('#replyBtn').attr('disabled',false);
			alert('回复失败：'+data);
		}
	});
}
</script>

<div class="segTitle">回复<a name="reply"></a></div>
<textarea id="replyText" style="width:818px;height:90px;border:1px solid #ADF;border-top:0;"></textarea>
<button onclick="reply()" id="replyBtn">回复</button>

{:include(footer)}
